<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h4>
  <span style="font-size:24px;">警告:未找到云资源,</span><span style="font-size:24px;">文件未上传<a href="https://portal.qiniu.com/bucket/hq-daily-back/index" target="_blank">七牛云</a>!!!</span>
</h4>
<p>
	<span style="font-size:24px;"><br />
</span>
</p>
<p>
  <br />
</p>
<ol>
  <li style="text-align:left;">
    <strong><span style="color:#E53333;font-size:18px;">加密文件名:{{ hashID }}</span></strong>
  </li>
  <li style="text-align:left;">
    <strong><span style="color:#E53333;font-size:18px;">解码文件名:{{ file }}</span></strong>
  </li>
  <li style="text-align:left;">
    <strong><span style="color:#E53333;font-size:18px;">七</span></strong><strong><span style="color:#E53333;font-size:18px;">牛云地址:</span></strong>
  </li>
  <li style="text-align:left;">
    <strong><span style="color:#E53333;font-size:18px;"><a class="ng-scope">存储空间:<span class="ng-binding" style="font-weight:700;color:#2F3033;font-size:18px;line-height:18px;">hq-high-room&nbsp;</span></a></span></strong>
  </li>
</ol>
<p>
	<span><span style="font-size:18px;"><b><br />
</b></span></span>
</p>
<p style="text-align:center;">
  <span><span style="font-size:18px;"><b>其他配置勿动!!!仔细核对空间名称</b></span></span>
</p>
<p>
  <span style="font-size:18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span style="font-size:18px;">&nbsp;&nbsp;&nbsp;</span>
</p>
<p>
  <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
<p>
  <strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>&nbsp;</strong>
</p>
<p>
  <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
</p>
</body>
</html>