<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<form action="http://up.qiniu.com" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input type="hidden" id="id_token" name="token" type="text"/></td>
        </tr>
        <tr>
            <td><input type="hidden" id="id_key" name="key" type="text"/></td>
        </tr>
        <tr>
            <td><a id="id_url" href=""/></td>
        </tr>
        <tr>
            <td><input id="id_file" name="file" type="file"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="上传"/></td>
        </tr>

    </table>
</form>
</body>
</html>